*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    .container {
        width: 100%;
        height: 100vh;
        font-family: Arial, sans-serif;
        background-color: #d1e292;
        margin: 0px;
        padding: 50px;
        text-align: center;
        // overflow: hidden;

    background-image: url("./STUDENT\ IN\ CLASS.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.655);
  background-blend-mode: darken;
//   background-image-filter: brightness(50%);
  

    
    h2{
        font-size: 48px;
        color: #e7e2e2;
        pointer-events: none;
    }
    h1{
        color: rgb(241, 236, 236);
        background-color: rgba(0, 0, 0, 0.596);
        width: 100%;
        pointer-events: none;

    }
    #countbutton{
        padding: 20px 40px;
        font-size: 50px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    #uncountbutton {
        padding: 20px 40px;
        font-size: 50px;
        background-color: #c8330e;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 30px;
    }
    #savebutton {
        padding: 20px 40px;
        font-size: 50px;
        background-color: #080808;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 30px;
    }
    #countbutton:hover {
        background-color: #037003;

    }
    #uncountbutton:hover {
        background-color: #ec931f;

    }
    }
    #uncountbutton:hover {
        background-color: #ec931f;
    }
    #savebutton:hover {
        background-color: #f0f3f0;
        color: black;
    }
    }           
